<!DOCTYPE html>
<html>

<head>
    <title>Image Classification</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
</head>

<body>
    <h1>Image Classification</h1>
    <h2>With MobileNet and ml5.js</h2>
    <div id="result"></div>
    <img id="image" src="" width="30%">

    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button type="submit">Select</button>
    </form>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar o comportamento padrão de enviar o formulário
            uploadFile();
        });

        function uploadFile() {
            // Obter o arquivo selecionado pelo usuário
            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];

            // Criar um objeto FormData para enviar o arquivo
            const formData = new FormData();
            formData.append('file', file);

            // Configurar a solicitação Fetch
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        return response.text(); // Receber a resposta como texto (base64)
                    }
                    throw new Error('Erro ao enviar arquivo');
                })
                .then(data => {
                    console.log('Resposta do servidor:', data);
                    const imageElement = document.getElementById('image');
                    document.getElementById("result").textContent = "Scanning ...";

                    // Configurar o evento onload para a imagem
                    imageElement.onload = function () {
                        // Passar a imagem para o classificador
                        classifier.classify(imageElement, gotResult);
                    };

                    // Definir o atributo src da imagem com a imagem recebida do servidor
                    imageElement.src = 'data:image/jpeg;base64,' + data; // Exibindo a imagem codificada em base64
                })
                .catch(error => {
                    console.error('Erro:', error);
                    // Lidar com erros de comunicação com o servidor
                });
        }

        // Inicializar o classificador de imagem com o modelo MobileNet
        const classifier = ml5.imageClassifier('MobileNet');

        // Função para ser executada quando os resultados estiverem prontos
        function gotResult(error, results) {
            const element = document.getElementById("result");
            if (error) {
                element.innerHTML = error;
            } else {
                let num = results[0].confidence * 100;
                element.innerHTML = results[0].label + "<br>Confiança: " + num.toFixed(2) + "%";
            }
        }
    </script>

</body>

</html>